.appButton {
  background-color: #111629;
  padding: 16px 20px;
  color: #cdd5df;
  border-radius: 15px;
}

.appButtonNb {
  border-left: 1px solid #cdd5df;
  margin-left: 20px;
  padding-left: 20px;
}