header {
  height: 240px;
  width: 100%;
  background: url("./../img/hero-image-github-profile.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 30px;
}

.searchInput {
  width: 485px;
  height: 24px;
  background-color: #20293a;
  border: 0;
  display: block;
  margin: auto;
  border-radius: 30px;
  padding: 16px;
}