body {
  margin: 0;
  background-color: #20293a;
}

* {
  color: #cdd5e0;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
}

.page-container {
  max-width: 1350px;
  margin: auto;
  padding: 0 20px;
}

.text-large {
  font-size: 2rem;
}

.text-title {
  font-size: 1.25rem;
}

.text-classic {
  font-size: 1rem;
}

.text-small {
  font-size: 0.75rem;
}

.text-center {
  text-align: center;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.gap-05 {
  gap: 5px;
}

.gap-1 {
  gap: 12px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.justify-content-between {
  justify-content: space-between;
}

.align-self-center {
  align-self: center;
}

.align-items-end {
  align-items: end;
}

.ml-1 {
  margin-left: 12px;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.d-none {
  display: none;
}