.appProfile {
    margin-bottom: 100px;
}

.appProfileRepo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 34px;
    margin-top: 34px;
}

.appViewMore {
    margin-top: 50px;
    text-align: center;
}

.appViewMore a {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .appProfileRepo {
        grid-template-columns: 1fr;
    }
}
