.appSearchResult {
    padding: 8px;
}

.appSearchResult button {
    text-decoration: none;
    width: 100%;
    background-color: transparent;
    border: 0;
}

.appSearchResult img {
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
}
